.cabecalho {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu--hamburguer {
    height: 24px;
    width: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu--hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__titulo, .container__texto, .opcoes {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
    background-color: var(--cor-branca);
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1.1em;
}

.lista-menu__titulo {
    color: var(--cor-amarela);
    font-weight: bolder;
}

.lista-menu__item {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 400;
}



@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0 1em;
    }

    .cabecalho__menu--hamburguer {
        display: none;
    }

    .container__titulo {
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 30px;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item, .opcoes__link {
        text-transform: uppercase;
        font-weight: 400;
        color: var(--cor-preta);
        text-decoration: none;
        list-style: none;
        padding: 0 1.2em;
    }

    .container__imagem--transparente {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__item {
        padding: 1.5em 1.5em;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--cor-branca);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branca);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {
    .container {
        padding: 0 2.5em;
    }
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preta);
    }

    .container__texto {
        display: block;
    }

    .opcoes {
        margin-right: auto;
    }

}